/build/
/artifacts/
/vcpkg_installed/
/tmp_build_runner.cmd
/.tools/
/.cache/
/.vs/
/.vscode/
/.idea/
/.DS_Store
/.clangd
/.ccls-cache/
/.ninja_deps
/.ninja_log
/.cmake/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
install_manifest.txt
Testing/
CTestTestfile.cmake
*.user
*.suo
*.vcxproj.user
*.opendb
*.obj
*.o
*.a
*.lib
*.dll
*.so
*.dylib
*.pdb
*.exe
*.out
